@import 'compass/reset';
@import 'mixin';

html,
body {
}

.body {
	font-family: Arial;
	//width: 50%;
	margin: 20px 50px 0 350px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fafafa;
	border-radius: 5px;

	h1 {
		text-align: center;
		font-size: 36px;
		font-weight: bold;
		margin: 10px;
	}

	h2 {
		font-size: 16px;
		font-weight: bold;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
		margin: 5px 0px;
	}

}

pre {
	// margin: 15px 0;
	// border: 1px solid #ccc;
	// padding: 20px;
	// background-color: #f2f2f2;
	// border-radius: 5px;
	// line-height: 1.5;
	// font-family: 'Source Code Pro', 'courier new';
}

.calendar-input {
	border: 1px solid #ccc;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	margin: 20px 0;
	width: 150px;
	border-radius: 3px;
	background-color: #fea;
}

.calendar-year-box {
	width: 139px;
}

.calendar-month-box {
	width: 133px;
}

.calendar-date-box {
	width: 276px;
}

.calendar-ui {
	&,
	.calendar-year-box,
	.calendar-month-box,
	.calendar-date-box {
		border-color: #fff;
	}

	.calendar-year-header,
	.calendar-month-header,
	.calendar-date-header {
		background-color: #348FE2;
		color: #fff;
	}

	tbody .calendar-this-year,
	tbody .calendar-this-year:hover,
	tbody .calendar-this-month,
	tbody .calendar-this-month:hover,
	tbody .calendar-today,
	tbody .calendar-today:hover {
		background-color: #348FE2;
	}

}

.deme-box {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

.demo-menu-box {
	position: fixed !important;
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #555;
	border-right: 1px solid #333;
	overflow-x: hidden;
	overflow-y: auto;

	h1 {
		padding: 10px;
		font-weight: bold;
		color: #fff;
		font-size: 16px;
		text-align: center;
		background-color: #333;
	}

	.demo-menu-body {
		overflow: hidden;
		padding: 10px;
	}

	ol {
		margin: 30px 20px;
	}

	li {
		padding-left: 0px;
		margin: 10px;
		list-style-type: decimal;
		color: #fff;
	}

	.demo-menu-box {
	}

	a {
		//display: block;
		padding: 5px 0;
		@include ell;
		color: #fff;
		text-decoration: none;
		margin: 20px 0;
	}

}