html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.body {
  font-family: Arial;
  margin: 20px 50px 0 350px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  border-radius: 5px;
}
.body h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 10px;
}
.body h2 {
  font-size: 16px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 5px 0px;
}

.calendar-input {
  border: 1px solid #ccc;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  margin: 20px 0;
  width: 150px;
  border-radius: 3px;
  background-color: #fea;
}

.calendar-year-box {
  width: 139px;
}

.calendar-month-box {
  width: 133px;
}

.calendar-date-box {
  width: 276px;
}

.calendar-ui,
.calendar-ui .calendar-year-box,
.calendar-ui .calendar-month-box,
.calendar-ui .calendar-date-box {
  border-color: #fff;
}
.calendar-ui .calendar-year-header,
.calendar-ui .calendar-month-header,
.calendar-ui .calendar-date-header {
  background-color: #348FE2;
  color: #fff;
}
.calendar-ui tbody .calendar-this-year,
.calendar-ui tbody .calendar-this-year:hover,
.calendar-ui tbody .calendar-this-month,
.calendar-ui tbody .calendar-this-month:hover,
.calendar-ui tbody .calendar-today,
.calendar-ui tbody .calendar-today:hover {
  background-color: #348FE2;
}

.deme-box {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

.demo-menu-box {
  position: fixed !important;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #555;
  border-right: 1px solid #333;
  overflow-x: hidden;
  overflow-y: auto;
}
.demo-menu-box h1 {
  padding: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #333;
}
.demo-menu-box .demo-menu-body {
  overflow: hidden;
  padding: 10px;
}
.demo-menu-box ol {
  margin: 30px 20px;
}
.demo-menu-box li {
  padding-left: 0px;
  margin: 10px;
  list-style-type: decimal;
  color: #fff;
}
.demo-menu-box a {
  padding: 5px 0;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
}
